{% extends "admin/index.html" %}
{% load i18n grp_tags %}

{% block javascripts %}
    {{ block.super }}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}


<!-- BREADCRUMBS -- >
{% if not is_popup %}
    {% block breadcrumbs %}
        <ul class="grp-horizontal-list">
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href="../">{% trans app_label|capfirst|escape %}</a></li>
            <li>{{ view_label|capfirst }}</li>
        </ul>
    {% endblock %}
{% endif %}

{% block content %}
   <div class="g-d-c">
        <!--Div that will hold the pie chart-->
        <div id="chart_div"></div>
        <pre style="font-family: monospace;">{{ table }}</pre>
        <br />
        {% for measurements_set in measurement_sets%}
            <ul>
                <li>{{ measurements_set.measurement_itg }}, {{ measurements_set.material.name }}, {{ measurements_set.process.name }}</li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}